<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This simple website was created by Tamas Bogdan. It uses data from <span>mapbox.com</span> and <span>darksky.net</span>.</p>
    <img class="portrait" alt="image of me" src="/img/me.jpg">
  </div>
  {{>footer}}
</body>

</html>